

@{
    ViewBag.Title = "Contact";
}

<h2 class="home-contact-header">CONTACT US</h2>

<body class="home-contact-body">

    <form class="home-contact-form">
        <div>
            <label for="exampleFormControlInput1">First & Last Name *</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address *</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Subject *</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message *</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button style="background-color: var(--main-color); color:white;"> Submit</button>

    </form>

    <div class="home--contact--donate">
        <h3>DONATE</h3>
        <p> We've got Patreon account!<br />Help support live theatre in<br /> Portland, OR, by becoming a <br /> Patron today! </p>
        <button style="background-color: var(--main-color); color:white;"> Donate</button>
    </div>

    <div class="home--contact--volunteer">
        <h4>VOLUNTEER</h4>
        <p> Come volunteer<br />Help support live theatre in<br /> Portland, OR, by becoming a <br /> volunteer today! </p>
        <button style="background-color: var(--main-color); color:white;"> VOLUNTEER</button>
    </div>
</body>