<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6bc0bf84-4fab-43c5-b00d-be16580a7d31/resourcegroups/ASPdotNETCoreChallenge20230510224158ResourceGroup/providers/Microsoft.Web/sites/AzureChallengeSubmissionAssn20230511013603</ResourceId>
    <ResourceGroup>ASPdotNETCoreChallenge20230510224158ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurechallengesubmissionassn20230511013603.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>303f7cd6-096b-4d9c-8583-4b98bca5a8fb</ProjectGuid>
    <MSDeployServiceURL>azurechallengesubmissionassn20230511013603.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzureChallengeSubmissionAssn20230511013603</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AzureChallengeSubmissionAssn20230511013603</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>